<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div style>
      <h1>WVIdList</h1>
      <ul>
        @for(item of WVIdList|async;track item){
        <li>
          
          <button (click)="showWV(item)">
            {{item}}
          </button>
          &nbsp;
          <button (click)="closeWV(item)">
            X
          </button>
        </li>
        }

      </ul>
      <button (click)="openNewWV()">Open New</button>
    </div>
  </div>
</ion-content>